body
{
background-color: black;
}


.I {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 30%;
}

.hacker-screen {
  width: 80%;
  height: 80%;
  overflow: hidden;
  position: relative;
}

.binary-text {
  display: block;
  font-size: 24px;
  white-space: nowrap;
  overflow: hidden;
  animation: binary-animation 1.5s infinite linear;
}

@keyframes binary-animation {
  0% {
    content: "1";
  }
  10% {
    content: "0";
  }
  20% {
    content: "1";
  }
  30% {
    content: "0";
  }
  40% {
    content: "1";
  }
  50% {
    content: "0";
  }
  60% {
    content: "1";
  }
  70% {
    content: "0";
  }
  80% {
    content: "1";
  }
  90% {
    content: "0";
  }
  100% {
    content: "1";
  }
}

